## Django Secret Key - IMPORTANT to change! ##
DJANGO_SECRET_KEY=django-insecure-lj6s$3kr)c9=0_6by0yfrk+#9+w68w_v@$qmtkg_1=+$3(#ce8 # Required, look online to find any direction to generate one

## Postgresql DB Settings ##
DB_ADDR=localhost       # DB Address; required
DB_PORT=5432            # DB Port; optional, default: 5432
DB_NAME=theobroma_db    # DB Name; optional, default: theobroma_db
DB_USER=theobroma_user  # DB User; optional, default: theobroma_user
DB_PASS=SECURE_PASSWORD # DB Password; required
